/**{

}*/

/*global*/
body.bk_color{
      margin:0;
      padding: 0;
      background-color:#e84905;
     /*background-color: rgba(225,233,238,1)*/
}

input, .signup_input{
	display:block;
	width: 100%;
	margin-bottom:10px;
}



 label{
  padding: 0;
  margin-top:100px;
  font-weight:bold;
}



h2.heading{
	margin:0;
	padding:0 0 20;
	text-align:center;
	font-size:45px;
	/*color:#ffffff ;*/
	margin-bottom:10px;
	font-weight: bold
}




 .input_field{
	border:none;
	border-bottom:1px solid #ffffff;
	background:transparent;
	outline: none;
	height: 40px;
	/*color:#fff;*/
	font-size: 18px;
	border-radius:3px

}

input[type="submit"]{
	border:none;
	outline: none;
	height: 50px;
	background:#504c4a;
	cursor: pointer;
	color:#fff;
	border-radius:20px;
	font-size:20px;
	font-weight: bold; 
	flex:1;

}

 input[type="submit"]:hover{
	cursor: pointer;
	background:#847d79;
	/*color:#000;*/
}

.other,#reg{
	text-align: center;
	margin:0;
	flex: 1;
}


form{
	flex: 1;
}


 a{
	text-decoration: none;
	font-size:17px; 
	line-height:20px;
	color:darkgray;
}


 a:hover{
	cursor: pointer;
	font-size:20px;
	color:#b7b2b2;
}
 main{display: flex;}
/* header{
 	flex:1;
 }*/

/*signup*/

.signupbox{
	width: 520px;
	height:620px;
	background:#101010;
	color:#ffffff;
	top: 50%;
	left:50%;
	position:absolute;
	border-radius:12px;
    margin-top:80px;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding :20px 30px;
	/*flex: 1;*/
	display: flex;
	flex-direction:column;
	justify-content: center;
}

input.signup_input{
	margin-bottom:8px;
}


.signup_button{
	margin: 20px 0;
}

/*signin*/
.signinbox{
	
	width: 620px;
	height:370px;
    background:#101010; 
	color:#ffffff;
	top: 50%;
	left:50%;
	position:absolute;
	border-radius:12px;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding :20px 30px;
	display:flex;
	flex-direction:column;
}

section#info{
 text-align: center;
}







