
body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  margin:0; 
  padding:0;
  background-color:#f4f4f4;
  display:flex;
  flex-direction:column;

}

/* Global */
.container{
  width:95%;
  margin:auto;
  overflow:hidden;
  flex: 1;
}

main{
  width:95%;
  flex:1;
  margin:auto;
  display:flex;
  flex-direction:column;
}


ul{
  margin:0;
  padding:0;
  list-style: none;
 
}

p{
  	white-space: pre-line;
  }
a{
	 text-decoration:none;
}

/*header*/

header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
  
}

header a {
  color:#ffffff;
  text-transform: uppercase;
  font-size:16px;
}

.social_media,header li,figure{
  /*float:left;*/
  display:inline;
  padding: 0 20px 0 20px;
}

header #wrapper{
  float:left;
}

header #wrapper #logo{
  margin:0;
  flex: 2;
}

header nav{
  float:right;
  margin-top:10px;
  flex: 1;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

#logout{
	padding-right:0px;
	margin-left:50px
}


/*sidebar*/

aside{
    margin-top:80px;
	float: left;
	width:20%;
    text-align: center;
    flex: 1;
     
   
}

a.sidebar_link{
    display:block;
    font-size: 20px;
    position:center;
     padding: 10px 0px 10px 0px;
}

.sidebar_link:hover, .sidebar_link:active{
  font-weight:bold;
   text-decoration: none;
}   

.sidebar_link:visited{
    background-color:#000000 
}



/*User questions (particularly recent)*/
article{
	float:right;
	width:80%;
	display:flex;
	flex:1;
  margin: auto;
	flex-direction: column;

}

#recent_question{
  display:flex;
  flex-direction: column;

}

.value{
  color:black;
  font-size:35px

}

.caption{
  font-size: 15px;
  color:black;
}

 .user_question_wrapper{
 	background-color: white;
  margin:40px 30px;
 	border-radius: 5px;
 	text-align: center;
 	 display:flex;
 /* flex-direction:column;*/

 }

 .contribution{
  display:flex;
  flex:1;
 }

 #other_details{
  flex:1;
  order:1;
 }


 a.user_question{
	margin:auto;
  flex:30;
	font-size: 20px;
  order:2;
	color:blue;

}


.question_details{

  display: flex;
/*  height:20%;*/
align-items: flex-end;
  flex-direction:column;
   flex:7;
  order:2;
  
  /*flex-flow:column-reverse;*/
}

.time_instance{
  flex:1;
  margin:0;
 /* display:inline-block;*/
}

.user_details{
    flex:1;
     margin:0;
   /* display:inline-block;
    display:inline-block;*/
}

.user_icon{
  width:50px;
  height:50px;
   margin:0;
  border-radius:20px;
}

/*styling for users question and answer*/

/*Global*/
.wrapper{
  	background-color: white;
  	border-radius: 5px;

  }


/*user question*/
.user_question{
      background-color: white;


  }

h2{
	font-size: 30px;
	margin-left:60px;
}
#question_wrapper{
	margin:  10px 0px 30px 00px;
    padding: 3px 20px 3px 20px; 
}

#user_question{
	margin:20px 20px;
	font-size:22px

}


/*response*/
  .response{
  	border-bottom: 1px solid red;

  	/*position:absolute;*/
  }

 
 
.answers{
	font-size:20px;
	margin:20px 20px 20px 20px; 

}
  
  

/*user_answer*/

#contribution{
	margin: 60px 20px 20px 20px;
	font-size: 20px;
	font-weight: bold;
	position: center;
}

/*::placeholder{
	color: red;
}*/

textarea{
	margin-top: 30px;
	 width:95%;
	 height:50vh;
	 justify-content: center;
	 font-size: 20px;
	 resize: none;
	 /*color:#000000;*/
    	 
}
   


#question_title{
text-align: center;
}



textarea#title_box{
   width:95%;
   height:30%;
   margin-right:30px;

  /* margin:auto;
*/   overflow:hidden;
}

/*#title_section{
    margin:0;
}*/

/*.contribution{
  margin :auto;
}*/

.shadow{
	 border-radius: 10px;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
     box-shadow: 3px 3px 5px 6px #ccc;
}

#submit_question,#answer_question{
 
	height:50px;
	width: 90px;
	float: right;
    margin: 40px 40px;
	font-size: 20px;
	border-radius:20px;
}

/*footer*/
footer{
 /* padding:20px;*/
  width: 100%;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
  flex:1;
}

#social_media{
	display:flex;
}


.social_media,figure{
  display:inline;
  padding:0;
}


.social_icon{
	height: 50px;
	width: 50px;
}
div.form-row{
	display: inline;
}
input{
	height:40px;
    width: 250px;
    border-radius: 5px;
}

.subscribe_button{

   height:30px;
    width: 90px;
   border-radius: 10px;
}

.social_icon{
	margin:0;
}

.connect{
	margin:50px 0 0 0 ;
}


.icon{
	 display: none;
}

@media screen and (max-width: 600px) {

	.container{
		display: flex;
	}

.topnav {
    display:none;
  }
#main_nav{
 display: none;
	
}
   .icon {
    font-size:30px;
    display: inline;
    margin:20px 2px 0 5px;
    flex:1;
    order:1;
  /* flex:1;*/
  }

  #wrapper {
   /* float:right;
    display: inline-block;*/
       flex:5;
       order:2;
  }

   