
body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  margin:0; 
  padding:0;
  background-color:#f4f4f4;
  display:flex;
  flex-direction:column;

}

/* Global */
.container{
  width:95%;
  height:10%;
  padding:0;
  margin:auto;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  align-items: baseline;
  
}

._container{
  width:95%;
  height:10%;
  padding:0;
  margin:auto;
  overflow:hidden;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;

/*  align-items: baseline;*/
  
}

main{
  width:95%;
  flex:15;
  margin:auto;
  display:flex;
  flex-direction:column;
}


ul{
  margin:0;
  padding:0;
  list-style: none;
 
}

p{
  	white-space: pre-line;
  }
a{
	 text-decoration:none;
}

.shadow{
   border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
     box-shadow: 3px 3px 5px 6px #ccc;
}

#submit_question,#answer_question{
 
  height:50px;
  width: 90px;
  float: right;
  margin: 40px;
  font-size: 20px;
  border-radius:20px;
  outline: 0;
 background-color:#c3c1c1;

}

 #submit_question, #answer_question, #join_us:hover{
    cursor:pointer;
     
   }

/*Home page */

.welcome, .message{
     margin:70px;
     text-align:center;

}
/*header*/

header{
  background:#35424a;
  color:#ffffff;
 /* padding-top:40px;*/
  min-height:10px;
  border-bottom:#e8491d 3px solid;
}

header a {
  color:#ffffff;
  text-transform: uppercase;
  font-size:16px;
}

.social_media,header li,figure{
  /*float:left;*/
  display:inline;
  padding: 0 20px 0 20px;
}

header #wrapper{
  float:left;
  margin:0;
  flex: 1;
 
 
}

/*#logo{
  margin:15px
}*/
 
 /* nav a{
  float:right;
   flex:1;
  
}*/
 /* margin-top:10px;*/


header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

ul a:hover{
  color:#cccccc;
  font-weight:bold;
}

#logout{
	padding-right:0px;
	margin-left:50px
}


/*sidebar

aside{
    margin-top:80px;
	float: left;
	width:20%;
    text-align: center;
    flex: 1;
     
   
}

a.sidebar_link{
    display:block;
    font-size: 20px;
    position:center;
     padding: 10px 0px 10px 0px;
}

.sidebar_link:hover, .sidebar_link:active{
  font-weight:bold;
   text-decoration: none;
}   

.sidebar_link:visited{
    background-color:#000000 
}



/*User questions (particularly recent)*/
article{
	float:right;
	width:80%;
	display:flex;
	flex:1;
  margin: auto;
	flex-direction: column;

}

#recent_question{
  display:flex;
  flex-direction: column;

}

.value{
  color:black;
  font-size:35px

}

.caption{
  font-size: 15px;
  color:black;
}

 .user_question_wrapper{
 	background-color: white;
  margin:10px 30px;
 	border-radius: 5px;
 	text-align: center;
 	 display:flex;
 /* flex-direction:column;*/

 }

 /*.contribution{
  display:flex;
  flex:1;
 }*/

 .other_details{
  flex:1;
  order:1;
 }


 a.user_question{
	margin:auto;
  flex:30;
	font-size: 20px;
  order:2;
	color:blue;

}

a.user_question:hover{
  color:blue;
}


.question_details{

  display: flex;
/*  height:20%;*/
align-items: flex-end;
  flex-direction:column;
   flex:7;
  order:2;
  
  /*flex-flow:column-reverse;*/
}

.time_instance{
  flex:1;
  margin:0;
 /* display:inline-block;*/
}

.user_details{
    flex:1;
     margin:0;
   /* display:inline-block;
    display:inline-block;*/
}

.user_icon{
  width:50px;
  height:50px;
   margin:0;
  border-radius:20px;
}


/*styling for users question and answer*/

/*Global*/
.wrapper{
  	background-color: white;
  	border-radius: 5px;

  }


/*user question*/
/*.user_question{
      background-color: white;
  }*/

h2{
	font-size: 30px;
	margin-left:60px;
}

#question_wrapper{
	margin:  10px 0px 30px 00px;
    padding: 3px 20px 3px 20px; 
}

#user_question{
	margin:20px 20px;
	font-size:15px;
  font-weight:bolder;
  font-style: italic;

}






/*Users response*/
  .response{
  	border-bottom: 1px solid red;

  	/*position:absolute;*/
  }

  .response_container{
  display: flex;
  flex-direction:column;
}

.answers{
  font-size:15px;
  margin:0px 20px 20px 20px; 
  flex:1;

}

.accepted{
   margin:10px 0 0 20px ;
  color:green;
}

.reaction{
  flex:1;
  display:flex;

}

.accept{
    flex:1;
    font-size:20px;
    margin-left:20px ;
  border-radius:10px;
  outline:none;
 /* margin: auto;*/
}

.reject{
 flex:1;
 font-size:20px;
  border-radius:10px;
  outline:none;
/*   margin: auto;*/
}

.thumbs-up_wrapper{
  margin:10px 10px 20px 10px;
  height:20px;
  width: 20px;
/*  border-radius:10px;*/
  flex:1;
/* margin: auto;*/


}
 

 .thumbs-down_wrapper{
  margin:10px 10px 20px 10px;
  height:2px;
  width: 2px;
 /* border-radius:10px;*/
  flex:1;
 /* margin: auto;*/

 }
 
.thumbs-down_tot{
  display: inline;
}
  
  

/*Answer a question*/

form.answer_a_question{
  margin-top: 20px 0 0 0;
   width:95%;
   height:20vh;
   text-align: center;
   justify-content: center;
   font-size: 20px;
   flex:1;
   resize: none;
   color:#000000;
}

#submit_question{
  margin:0;
  padding:0;
}
.contribution{
	/*margin: 60px 20px 20px 20px;*/
  margin: 0;
  padding: 0;
	font-size: 19px;
	font-weight: bold;
	position: center;
}



/*ask a question page */

form.ask_a_question{
	margin-top: 30px 0;
	 width:95%;
	 height:50vh;
	 justify-content: center;
	 font-size: 20px;
   flex:1;
	 resize: none;
	 color:#000000;
}
   
.contribute{
  margin-left:40px;
}

/*#question_title{
text-align: center;
}*/



 


/*ask a question*/

 .title_box{
   width:95%;
   height:10%;
      margin:10px 20px;
   font-size: 15px;
   font-weight:bold;

}

textarea.question{
   width:95%;
   height:90%;
   margin:20px 20px;
   font-size:20px;
   resize:none;
}





/*join us button*/


/*#join_us{
  height:60px;
  width:150px;
  font-size:25px;
  margin: 20px 20px;
  color: blue;
  text-align:center 
  border-radius:40px;
}*/



.join_us:hover{
  color: blue;
  cursor:pointer;
  background-color:#c3c1c1;
 
}
  .join_us{
    width:15%;
    color: blue;
    background:#dfe0e0 ;
    padding-top: 15px;
     font-weight: bold;
     margin:60px;
     font-size:20px;
     border: 0px;
     cursor:pointer;
     padding-top:17px;
     border:1px solid #c3c1c1;
     float: right;
     margin: 20px 20px;
     height:40px;
     justify-content: center;
     text-align:center;
     border-radius:20px;
  }


/*footer*/
footer{
  width: 100%;
  margin-top:20px;
  color:#ffffff;
  background:#35424a;
  text-align: center;
  flex:1;
  align-self: flex-end;
  display:flex;
}


 
/*subscribe*/

.footer-col{
 flex:1;
 margin:auto;
 order:1;
 margin-bottom:30px;
}

.form-row{
display:flex;
}

.subscribe{
  margin-right:100px;
}

 .subscribe_email{
	 height:40px;
    margin:5px 6px;
    border-radius: 5px;
     flex:8;
}

.subscribe_button{
   height:45px;
   margin:5px 6px; 
   border-radius:10px;
    flex:1;

}


/*copyright*/
.copyright,.copyright_details{
   flex:1;
  order:2;
  align-self: flex-end;
  margin-bottom: 0px;
}

/*social media */

.social{
   flex:1;
  order:3;
  margin-bottom:10px;
}

#social_media{
  display:flex;
  
}

.social_media,figure{
  display:inline;
  padding:0;
}


.social_icon{
  height: 50px;
  width: 50px;
}

.social_icon{
	margin:0;
}

.connect{
	margin:50px 0 0 0 ;
}


.icon{
	 display: none;
}
/

/*smaller screens*/

@media screen and (max-width: 600px) {

	.container{
		display: flex;
	}

.topnav {
    display:none;
  }
#main_nav{
 display: none;
	
}
   .icon {
    font-size:30px;
    display: inline;
    margin:20px 2px 0 5px;
    flex:1;
    order:1;
  /* flex:1;*/
  }

  #wrapper {
   /* float:right;
    display: inline-block;*/
       flex:5;
       order:2;
  }

   